@import "~antd/dist/antd.css";

body {
  background-color: #7a7e85;
}

.menu_right {
  float: right;
}

.menu_left {
  float: left;
}

.registraration {
  margin-top: 100px;
}

.login {
  margin-top: 100px;
}
