@import "~antd/dist/antd.css";

body {
  background-color: #7a7e85;
}
.city_card {
  background: #ccc;
}

.search {
  margin-top: 50px;
}

.menu_right {
  float: right;
}

.menu_left {
  float: left;
}

.registraration {
  margin-top: 100px;
}

.login {
  margin-top: 100px;
}

.city_info_card {
  margin-top: 50px;
  width: 500px;
  background: #ccc;
}
